{% extends 'profile/profile_base.html' %}


{% block profile %}
<h1> Postings </h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
      {% for posting in postings %}
      <tr>
          <td><a href="{% url 'posting-detailed' posting.id %}">{{ posting.title }}</a></td>
          <td> {{ posting.company }}</td>
          <td> {{ posting.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'create_posting' %}"><h4> Post Job </h4></a>
{% endblock %}