{% extends 'profile/profile_base.html' %}


{% block profile %}
<h1> {{ user.first_name|default:'Profile' }} </h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
      <a href="{% url 'edit_profile' %}">Edit Profile</a>
  </li>
  {% if user.role == 'A' %}
  <li class="list-group-item">
      <a href="{% url 'resumes' %}">Edit Resumes</a>
  </li>
  {% endif %}
  {% if user.role == 'C' %}
  <li class="list-group-item">
      <a href="{% url 'postings' %}">Manage Postings</a>
  </li>
  {% endif %}
</ul>

{% endblock %}