{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block title %}
Nick Janes
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
              <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">
                    <h4>
                        Profile Settings</h4>
                </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'edit_profile' %}">
                          Edit Profile
                      </a>
                  </li>
                  {% if user.role == 'A' %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'resumes' %}">
                          Edit Resumes
                      </a>
                  </li>
                  {% endif %}
                  {% if user.role == 'C' %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'postings' %}">
                          My Postings
                      </a>
                  </li>
                  {% endif %}
              </ul>
      </nav>

      <!-- Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="container mt-5">
            {% block profile %}

            {% endblock profile %}
          </div>
      </main>
  </div>
</div>
{% endblock %}