
body {
  padding-top: 56px; /* Adjust based on your navbar height */
  background-color: rgb(71, 71, 71);
  height: 100%;
  color: white;
}

 a, a:hover, a:visited {
  text-decoration: none;
  color: white;
 }

.content {
  padding-top: 40px;
  min-height: 100vh;
  color: #fff;
  font-family: 'roboto', serif; /* Use a serif font for paragraphs */
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #333
}

.btn-delete {
  background-color: #bd3247;
}

.posting {
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(71, 71, 71);
}

.posting {
  div {
    display: inline;
  }

  .tag {
    display: inline-block;
    padding: 2px 4px 4px 4px;
    margin: 2px;
    background-color: rgb(162, 183, 159);
    border: 1px solid #fff;
    border-radius: 4px;
  }
}

.posting-detailed {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
  /* max-width: 960px; */
}


form {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #333;
  overflow: hidden;

  .errorlist {
    color: red;
  }
  
  input[type=text], select, input[type="password"] {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #56cb5a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4fc154;
  }

  .register-company {
    width: 100%;
    background-color: #325fc6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .register-company:hover {
    background-color: #325cbd;
  }

  .register-applicant {
    width: 100%;
    background-color: #eebd3f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .register-applicant:hover {
    background-color: #e0b23e;
  }

}
