:root {
  /* accent-color: red; */
}

body {
  /* background-color: rgb(245, 245, 245); */
  height: 100%;
  color: #000;
}

 a, a:visited {
  text-decoration: none;
  color: #333;
 }

.content {
  padding-top: 40px;
  min-height: 100vh;
  /* color: #fff; */
  font-family: 'Lato', serif; /* Use a serif font for paragraphs */
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #333;
}

.btn-delete {
  background-color: #bd3247;
}

.posting {
  /* border-radius: 6px; */
  padding: 10px;
  /* background-color: #fff; */
  border: 1px solid #ccc;
}

.posting .tag {
  display: inline;
  padding: 2px;
  font-size: 10px;
  margin-right: 2px;
  border-radius: 6px;
  margin-bottom: 2px;
}

.posting ul {
  margin-bottom: 4px;
}

.posting .title {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.posting-detailed {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
  /* max-width: 960px; */
}

.posting .salary {
  /* display: inline-block; */
  margin-right: 10px;
  color: rgb(66, 121, 66);
}

.posting .buttons {
  float: right;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #333;
  text-decoration: underline;
}


form {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;

  .errorlist {
    color: red;
  }
  
  input[type=text], select, input[type="password"] {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #56cb5a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4fc154;
  }

  .register-company {
    width: 100%;
    background-color: #325fc6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .register-company:hover {
    background-color: #325cbd;
  }

  .register-applicant {
    width: 100%;
    background-color: #eebd3f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .register-applicant:hover {
    background-color: #e0b23e;
  }

}
