
{% extends 'base.html' %}
{% block head %}
<style>
#confirmation {
  visibility: hidden;
}
</style>
{% endblock %}

{% block title %}
Nick Janes
{% endblock %}

{% block content %}

  <div id="confirmation">
    <div>
    </div>
  </div>

  <form action="{% url 'apply' posting.id %}" method="POST">
      {% csrf_token %}
      <div class="px-2">
        {{ posting.title }} -
        {{ posting.company }},
        {{ posting.location }}
        <br>
        {{ posting.description }}
      </div>c
      <br><br><br>
      <select style="font-weight: bold;">
      {% for resume in resumes %}
        <option>
          {{ resume.name }} -
          {{ resume.created_at.date }}
        </tr>
      {% endfor %}
      </select>
      {{ form.as_div }}
      <hr>
      <div id="confirmation">
        <div>
          Hey
          {% comment %} <input type="submit"></input> {% endcomment %}
        </div>
      </div>
      <div id="buttons">
        <button class="btn btn-success" onclick="() => {
          var x = document.getElementById('confirmation').style.visibility = 'visible';

        }
        ">Test</button>
      </div>
  </form>
{% endblock %}