
{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block title %}
Nick Janes
{% endblock %}

{% block content %}

  <form class="row" action="{% url 'create_posting_action' %}" method="POST">
      {% csrf_token %}
      <div class="col-md-8">
        <div class="mb-1">
          <label for="title">Title:</label>
          <input type="text" name="title" placeholder="test"></input>
        </div>
        <div class="mb-1">
          <label for="company">Company:</label>
          <input type="text" name="company"></input>
        </div>
        <div class="mb-1">
          <label for="description">Description:</label>
          <input type="text" name="description"></input>
        </div>
        <div class="mb-1">
          <label for="salary_low">Salary Range:</label>
          <input type="text" name="salary_low" placeholder="Lower Range"></input>
          <input type="text" name="salary_high" placeholder="Upper Range"></input>
        </div>
        <label for="flexibility">Job Flexibility:</label>
        <select class="form-select-sm mb-3" name="flexibility">
          <option value="O" selected>Onsite</option>
          <option value="H">Hybrid</option>
          <option value="R">Remote</option>
        </select>
      </div>
      <div class="col-md-4">
          <div class="posting">
            <a class="nav-link">
              <h1 class="title">Title</h1>
              <p class="company">Company</p>
            </a>
          </div>
      </div>
      <div id="buttons">
        <hr>
        <button type="submit" id="save">Submit</button>
      </div>
  </form>
{% endblock %}