{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block title %}
Nick Janes
{% endblock %}

{% block content %}

  <div class="row px-2">
    {% for posting in postings %}
      <div class="col-xl-4 g-2">
        <div class="posting border bg-dark">
          <a class="nav-link" href="{% url 'posting' posting.id %}">
            <h1 class="title">{{ posting.title }}</h1>
            <div class="company">{{ posting.company }} | </div>
            <div class="location">{{ posting.location }} | </div>
            <div class="flexibility">{{ posting.get_flexibility_display }}</div>
            <br>
            <div class="salary">${{posting.salary_low}} - ${{posting.salary_high}}</div>
          </a>
          
          {% for tag in posting.tags %}
          <a class="nav-link tag" href="{% url 'search' %}?tag={{tag.tag|lower}}">
            {{ tag.tag }}
          </a>
          {% endfor %}
          
          <hr>
          <div class="buttons">
            {% if posting.owner == user %}
              <button class="btn-delete" type="button">Delete</button>
            {% else %}
            <a href="{% url 'apply' posting_id=posting.id %}"><div class="apply">Apply</div></a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}