<div class="col-lg-4 posting">
  <a href="{% url 'posting-detailed' posting.id %}">
    <h3 class="title">{{ posting.title }}</h3>
    <div class="salary">${{posting.salary_low}} - ${{posting.salary_high}}</div>
    <ul class="list-inline">
      <li class="list-inline-item">{{ posting.company }} |</li>
      <li class="list-inline-item">{{ posting.location }} |</li>
      <li class="list-inline-item">{{ posting.get_flexibility_display }}</li>
    </ul>
  </a>
  
  {% for postingtag in posting.tags %}
    <a class="tag" style="background-color: #{{postingtag.tag.color}}" href="{% url 'search' %}?tag={{postingtag.tag|lower}}">
      {{ postingtag.tag.name }}
    </a>
  {% endfor %}
  
  <div class="buttons">
    {% if posting.owner == user %}
    <a href="{% url 'delete' posting_id=posting.id %}">
      <button class="btn-delete" type="button">Delete</button>
    </a>
    {% else %}
    <a href="{% url 'apply' posting_id=posting.id %}">
      <button class="btn-success">Apply</button>
    </a>
    {% endif %}
  </div>

</div>

