{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block title %}
Nick Janes
{% endblock %}

{% block content %}
<a href="{% url 'home' %}">
  <button>Back to all Postings</button>
</a>
{% if posting.owner == user %}
<a href="{% url 'postings' %}">
  <button>My Postings</button>
</a>
{% endif%}
<div class="posting border">

  <div class="posting-detailed">
    <h1 class="title">{{ posting.title }}</h1>
    <div class="company">{{ posting.company }}</div>
    <div class="description">{{ posting.description }}</div>
    <div class="salary">${{posting.salary_low}} - ${{posting.salary_high}}</div>
    <div class="flexibility">{{ posting.flexibility }}</div>
    {% if posting.owner == user %}
    test
    <div class="btn-delete"> Delete? </div>
    {% endif %}
  </div>
</div>
{% endblock %}